.grid {
  margin: 30px 0 0;
}

button {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.1rem;
  margin: 20px;
  padding: 5px 10px;
  background-color: rgba(100, 252, 242, 0.75);
  border: none;
  cursor: pointer;
}

a,
button:hover {
  background-color: rgba(102, 192, 186, 0.75);
}

.algorithmDataTable {
  padding: 1em 1em 5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  padding: 8px 2em 10px 2em;
  outline: 1px solid gray;
}
