.node {
  width: 25px;
  height: 25px;
  outline: 1px solid gray;
  display: inline-block;
}

.node-finish {
  background-color: #af3945;
}

.node-start {
  background-color: rgb(79, 145, 79);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(30, 57, 42, 0.75);
    border-radius: 100%;
    outline: 1px transparent;
  }

  50% {
    background-color: rgba(60, 196, 124, 0.75);
    outline: 1px transparent;
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(77, 255, 207, 0.75);
    outline: 1px transparent;
  }

  100% {
    transform: scale(1);
    background-color: rgba(100, 252, 242, 0.75);
  }
}

.node-wall {
  background-color: white;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
    outline: 1px solid rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
    outline: 1px solid rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
